# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
.venv/
venv/
.pytest_cache/

# Env
.env

# Docker volumes / data
infra/data/
qdrant_storage/
postgres_data/

# OS / editors
.DS_Store
.vscode/
.idea/

# Logs
*.log
